# Project exclude paths
/target/

*.class
*.jar
*.war
*.zip
*.tar.gz

.gwt/
.idea/
.settings/
lib/
target/
.classpath
.gitignore
.project

src/main/webapp/admin_menual/
src/main/webapp/user_menual/
src/main/webapp/frontend/

.DS_Store
.svn/